html,
body,
#root body {
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "PressStart2P-Regular";
    src: local("PressStart2P-Regular"),
        url("./fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: bold;
}
